@tailwind base;
@tailwind components;
@tailwind utilities;

.safe-area {
  height: auto;
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

.safe-area-content {
  margin-bottom: calc(env(safe-area-inset-bottom, 20px) + 62px);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet-active {
  background-color: #333333 !important;
}
